@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


.App {
  text-align: center;
  background-color: #282c34;
  background-size: cover;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}