@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


#main-title{
  font-size: 70px;
  word-spacing: absolute;
  text-align: center;
  text-decoration: none;
  display: block;
}

.containerdiv {
  height: 100%;
  width: 100%;
  text-align: center;
  /* example padding, font-size, background, etc */
  padding: 10px;
  font-size: 20px;
  background-color: lightskyblue;
}

.downloadBtnBtm{
    display: flex;
    position: absolute;
  
    bottom: 50px;
  }
