

#three-container{
  background-color: rgba(240, 248, 255, 0);
}

.three-canvas{
  /* width: 800px; */
  min-height: 500px;
  min-width: 500px;
}



#highres-canvas{
  display:none;
}

#normal-canvas{
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  max-width: 800px;
  
  height: 100%;
  width: 100%;;
  
}


#mapcontainer{
  align-self: center;
  display: block;
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

.grid_items {
  position: relative;
  display: grid;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.grid_items > div {
   padding: 0px;
  
}
.grid_items > div:nth-child(3n + 2) {
  background-color: rgb(177, 187, 197);
  border-radius: 40px;
  padding: 50px;
  
}
.grid_items > div:nth-child(3n) {
  background-color: DeepSkyBlue;
  padding: 50px;

}

@media only screen and (min-width: 640px) {
  .grid_items {
    justify-content: center;
    grid-template-columns: 100%;
    height: fit-content;
    grid-row-gap: 40px;

    
    
  }
  .grid_items > div {
    padding: 20px;
    
  }
}


@media only screen and (min-width: 981px) {
  .grid_items {
    align-items: center;
    justify-items: center;
    grid-template-columns: 30% 35% 30%;
    height: 80vh;
    grid-row-gap: 50px;
  }
  .grid_items > div {
    padding: 0px;
  }
}