#normal-canvas{
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 150px;
}

#highres-canvas{
  display:none;
}

#normal-canvas{
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 150px;
}


#mapcontainer{
  align-self: center;
  display: block;
  text-align: center;
}