@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#p-style{
  font-family: 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#perspective-title{
  font-size: 70px;
  word-spacing: absolute;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  line-height: 32px;   /* within paragraph */
  margin-bottom: 50px; /* between paragraphs */
}

#perspective-fixer {
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  line-height: 0px;   /* within paragraph */
  margin-bottom: 50px; /* between paragraphs */
  width: 300px;
  height: 300px;
  background-color: coral;
  }

h1 {
  position: fixed;
  margin-top: -700px;
  word-spacing: absolute;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  line-height: 32px;   /* within paragraph */
  margin-bottom: 50px; /* between paragraphs */
}
h1:hover{
  cursor: default;
}
