@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


#cropper {
  margin-bottom: 75px;
  margin-top: 50px;
  line-height: 32px;
  font-size: calc(1px + 2vmin);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
