@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

#perspective-title{
  font-size: 70px;
  word-spacing: absolute;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  line-height: 32px;   /* within paragraph */
  margin-bottom: 100px; /* between paragraphs */
  margin-top: 50px;
}

.continue{
  border-radius: 15px;
}

#cropper {
  margin-bottom: 75px;
  margin-top: 50px;
  line-height: 32px;
  font-size: calc(1px + 2vmin);
}

.centered {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perspective-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
