@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


#p-style{
  font-family: 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#splash-title{
  font-size: 70px;
  word-spacing: absolute;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  line-height: 32px;   /* within paragraph */
  margin-bottom: 100px; /* between paragraphs */
}

#splash-text {
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  line-height: 0px;   /* within paragraph */
  margin-bottom: 100px; /* between paragraphs */
  }
