
#splash-upload-button {
    position:center;
    font-family: 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
    transition-duration: .5s;
    background-color: #04AA6D; 
    color: #FFFFFF; 
    border: 2px solid #04AA6D;
  }

#splash-upload-button:hover {
background-color: #04aa6d75;
  }