
#upload-button-container{
  position:center;
  font-family: 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  transition-duration: .5s;
  background-color: #04AA6D; 
}

#upload-button{
  display:none;
}

#upload-button-container:hover {
background-color: #3edd9b;
-webkit-box-shadow: 0px 0px 16px 1px #9BFFFB; 
box-shadow: 0px 0px 16px 1px #9BFFFB;
  }