.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Slider{
  height: 300px;
  width: 300px;
  background: #c5c5c5;
  border-radius: 10px;
  padding: 0 45px 0 65px;
}

.Slider .field{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Slider .field input{
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
